.article--container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 2em;
}

.article--description {
    margin-top: 1em;
}

.article--prize {
    margin-top: 1em ;
}


.article--photo img{
    max-height: 200px;
    max-width: 200px
}