.contact--container {
    padding-top: 6em;
    width: 100%;
    background-color: rgb(0, 0, 0, .7);
    min-height: 100vh;
}

.contact--container h2 {
    margin-left: 1em;
    font-size: 6em;
}

.contact--container p {
    margin-left: 3em;
    margin-right: 3em;
    font-size: 1.2em ;
}

.icons--container {
    display: flex;
    flex-direction: column;
    margin-top: 3em;
}